# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes



#############
## UDK
#############
Binaries/
Development/Flash
Development/Src/Core
Development/Src/Engine
Development/Src/GameFramework
Development/Src/GFxUI
Development/Src/GFxUIEditor
Development/Src/IpDrv
Development/Src/MyMod
Development/Src/OnlineSubsystemGameCenter
Development/Src/OnlineSubsystemPC
Development/Src/OnlineSubsystemSteamworks
Development/Src/SubstanceAir
Development/Src/SubstanceAirEd
Development/Src/UDKBase
Development/Src/UnrealEd
Development/Src/WinDrv
Engine/
UDKGame/Autosaves
UDKGame/Build
UDKGame/Cloud
UDKGame/Config/IPhone
UDKGame/Config/Mac
UDKGame/Config/Mobile
UDKGame/Config/DefaultCharInfo.ini
UDKGame/Config/*Editor*.ini
UDKGame/Config/DefaultLightmass.ini
UDKGame/Config/DefaultUI.ini
UDKGame/Config/UDK*.ini

UDKGame/Localization
UDKGame/Logs
UDKGame/Movies
UDKGame/ProjectTemplates
UDKGame/Screenshots
UDKGame/Splash
UDKGame/PCTO*.txt

UDKGame/Content/Maps
UDKGame/Content/Mobile
UDKGame/Content/Shared
UDKGame/Content/Showcases
UDKGame/Content/TestPackages
UDKGame/Content/UT3